# Database 
"Datenbankensysteme 1/Testat/lebensmittelgeschaeft/Dbs1_Testat_2_Tsigereda_Husam.pdf"
"Datenbankensysteme 1/Testat/lebensmittelgeschaeft/Nebai Kidane_Ebish_LMGeschaeft (5).png"
"Datenbankensysteme 1/Testat/lebensmittelgeschaeft/Lebensmittelgeschäft.docx"
"Datenbankensysteme 1/Testat/lebensmittelgeschaeft/relationsschreibweise.txt"
"Datenbankensysteme 1/Testat/lebensmittelgeschaeft/Nebai Kidane_Ebish_LMGeschaeft.xml"
"OPP/eclipse-workspace"


